<cloud-title>Where people meet animals</cloud-title>

<img src="assets/pets.jpg" style="float:right;margin: 20px; border-radius: 20px;" />



<p>
    We love Animals. All kinds of animals. And we believe in finding our animals new loving homes.
    <br/>
    <br/>
At Friends Animal Petshop we have pets of all shapes,sizes and colours!
From the fluffy to scaly we have em all,and all you need to do is describe the perfect pet
that would suit you.
</p>

<p>
  And, even though we love our pets, we prefer to avoid doing complex math. That's why
  all animals are priced modestly between $120 - $250 each, no matter how many pets you adopt.
</p>

<p>
  Click <a href="design">here</a> to get started on finding your new little critter!
</p>
