div.footer {
  background-color: rgb(255, 207, 118);
  background: linear-gradient(white, rgb(255, 191, 118));
  width: 100%;
  height: 70px;
  border-radius: 10px;
}

div.footerText {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
  padding-top: 35px;
  font-size: 10pt;
}

a {
  color: inherit;
}
