<cloud-title>Admire some recently adopted critters</cloud-title>

<p>
Here are some lucky pets that have already foud their forever home!
  </p>

<div class="recentsblock">
  <div class="tacoblock" *ngFor="let taco of recentTacos">
      <div class="tacoName"><span class="small">The</span><br/>"{{taco.name}}"</div>
      <div class="tacoDesc">
        <ul class="commalist">
          <li *ngFor="let ingredient of taco.ingredients | nonwraps">{{ingredient.name}}</li>
        </ul>
        <div *ngIf="(taco.ingredients | wraps)?.length > 0">
        <span>wrapped in</span><ul class="commalist">
            <li *ngFor="let ingredient of taco.ingredients | wraps">{{ingredient.name}}</li>
        </ul>
        </div>
        <div *ngIf="(taco.ingredients | wraps)?.length == 0">in a bowl</div>
      </div>
      <little-button label="Order this taco"></little-button>
  </div>
</div>
